@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Open Sans",sans-serif;
}

header{
  height: 90px;
  background: #2f3640;
 
}

.Bal{
  max-width: 1000px;
  padding: 0 10px;
  margin: auto;
}
.logo{

  float: left;

  padding: 20px ;
  color: white;
  font-size:25px;
  font-weight: bold;
}

.logo span {
  color: #008389;
}

.nav-menu{
  float: right;
  display: flex;
  align-items: center;
  min-height: 90px;
  position: absolute;
    right:10px;
  z-index:1;
}

.nav-menu a{
  margin-left: 10px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .3s linear;
}

.nav-menu a:hover{
  background: #fff;
  color: #2f3640;
  transform: scale(1.1);
}

.nav-menu i{
  margin-right: 8px;
  font-size: 16px;
}

.home{ 
  color: #ff6b6b;
}

.about{
  color: #0abde3;
}

.works{
  color: #feca57;
}

.team{
  color: #5f27cd;
} 

.contact{
  color: #1dd1a1;
}

.menu-lol-btn{
  float: right;
  height: 90px;
  line-height: 90px !important;
  color: #fff;
  font-size: 26px;
  display: none !important;
  cursor: pointer;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style:  none;
}
.footer{
	background-color: #24262b;
   padding: 70px 0; }
  .footer-col{
   width: 25%;
   padding:  15px;
  
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	font-weight: 300;
		text-decoration: none;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;

}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color:#ffffff ;
}

 .footer-col {
   width: 100%;
   margin-right: 120px;
   
 }
@media screen and (max-width:952px) {

  .menu-lol-btn{

    display: block !important;

   }
    .nav-menu{

    position: fixed;
    width: 100%;
    max-width:200px;
    background: #172b4d;
    top: 90px;
   right:0;
   display: none;
    padding: 20px 40px;
    box-sizing: border-box;
  }

  .nav-menu a{
    display: block;
    margin: 10px ;
  }

  .nav-menu.active{
    display: block;
    
  }
 }